aside.sidebar
  h3.third-title.sidebar__third-title Каталог спецтехники
  ul.catalog
    li.catalog__item.catalog__item--1.transition
      a(href="#").catalog__link.catalog__link--1 Краны-<br/>манипуляторы
    li.catalog__item.catalog__item--2.transition
      a(href="#").catalog__link.catalog__link--2 Экскаваторы-<br/>погрузчики
    li.catalog__item.catalog__item--3.transition
      a(href="#").catalog__link.catalog__link--3 Экскаваторы<br/>колесные
    li.catalog__item.catalog__item--4.transition
      a(href="#").catalog__link.catalog__link--4 Экскаваторы<br/>гусеничные
    li.catalog__item.catalog__item--5.transition
      a(href="#").catalog__link.catalog__link--5 Грунтовые<br/>катки
    li.catalog__item.catalog__item--6.transition
      a(href="#").catalog__link.catalog__link--6 Асфальтоукладчики
    li.catalog__item.catalog__item--7.transition
      a(href="#").catalog__link.catalog__link--7 Поливочные<br/>машины