.footer__inner
  a.logo.footer__logo.transition(href="#")
  nav.footer__third-nav.third-nav
    .third-nav__toggle.toggle
      span.toggle__span.third-nav__toggle__span
    ul.third-nav__list.nav-list
      li.third-nav__item
        a.third-nav__link.third-nav__link--main(href="#") Аренда спецтехники
        ul.third-nav__list--second
          li.third-nav__item--second
            a.third-nav__link--second.third-nav__link(href="#") Краны-манипуляторы
          li.third-nav__item--second
            a.third-nav__link--second.third-nav__link(href="#") Экскаваторы-погрузчики
          li.third-nav__item--second
            a.third-nav__link--second.third-nav__link(href="#") Экскаваторы-колесные
          li.third-nav__item--second
            a.third-nav__link--second.third-nav__link(href="#") Экскаваторы гусеничные
          li.third-nav__item--second
            a.third-nav__link--second.third-nav__link(href="#") Грунтовые катки
          li.third-nav__item--second
            a.third-nav__link--second.third-nav__link(href="#") Асфальтоукладчики
      li.third-nav__item
        a.third-nav__link.third-nav__link--main(href="#") Услуги
        ul.third-nav__list--second
          li.third-nav__item--second
            a.third-nav__link--second.third-nav__link(href="#") Асфальтирование
          li.third-nav__item--second
            a.third-nav__link--second.third-nav__link(href="#") Благоустройство
          li.third-nav__item--second
            a.third-nav__link--second.third-nav__link(href="#") Земляные работы
          li.third-nav__item--second
            a.third-nav__link--second.third-nav__link(href="#") Снос домов/зданий
          li.third-nav__item--second
            a.third-nav__link--second.third-nav__link(href="#") Монолитные работы
      li.third-nav__item.third-nav__item--column
        a.third-nav__link.third-nav__link--column--1.third-nav__link--main(href="#") О компании
        a.third-nav__link.third-nav__link--column--2.third-nav__link--main(href="#") Контакты
  .footer__block-right.block-right
      span.footer__telephone.telephone +7 (495) 728 13 59
      button.btn.footer__btn.transition Заказать технику
      span.copyright.footer__copyright &copy; <nobr>ООО &laquo;Автодор-М&raquo;</nobr> 2016