nav.header__main-nav.main-nav
  .main-nav__toggle.toggle
    span.toggle__span.main-nav__toggle__span
  ul.main-nav__list.nav-list
    li.main-nav__item
      a.main-nav__link(href="#") О компании
    li.main-nav__item
      a.main-nav__link(href="#") Услуги
    li.main-nav__item
      a.main-nav__link(href="#") Контакты
.header__inner
  a.logo.header__logo(href="#")
  .header__block-right.block-right
    span.header__telephone.telephone +7 (495) 728 13 59
    button.btn.header__btn.transition Заказать технику
nav.header__second-nav.second-nav
  .second-nav__toggle.toggle
    span.toggle__span.second-nav__toggle__span
  ul.second-nav__list.nav-list
    li.second-nav__item.second-nav__item--active
      a.second-nav__link(href="#") Аренда спецтехники
    li.second-nav__item
      a.second-nav__link(href="#") Асфальтирование
    li.second-nav__item
      a.second-nav__link(href="#") Благоустройство
    li.second-nav__item
      a.second-nav__link(href="#") Земляные работы
    li.second-nav__item
      a.second-nav__link(href="#") Снос домов/зданий
    li.second-nav__item
      a.second-nav__link(href="#") Монолитные работы