.slider
  img(src="images/slider-img-1.png", alt="Изображение слайдера", width="1004", height="214").slider__img
  span.slider__text Текст<br/>спецпредложения
  .pagination
    .pagination__item.pagination__item--active
    .pagination__item
    .pagination__item
    .pagination__item
